.verde{
            color : green ;
         }

     .red{
            color: red;
            }  
     .amarillo{
       background-color: yellow;}
         
    
     .centrar{
       text-align: center;
       }
     .rayado {
       text-decoration: underline;
      }