doctype
html(lang="es")
head
  meta(charset="UTF-8")
  title Ejemplo rutas relativas
  link(href="estilos.css")
body
  .marcoppa1
    .encabezado
      a(href='javascript:;') inicio 
      a(href='secciones/nosotros.html') nosotros 
      a(href='secciones/servicios.html') servicios
      a(href='secciones/contacto.html') contacto
    .contenido
      h1 Bienvenidos a mi sitio Web
      //- img(src="imagenes/index.png", alt="")
   
      img(src="http://www.ramsrecruit.com/wp-content/uploads/2013/02/Welcome.jpg", width="360")
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est rem at quos laboriosam repudiandae, aliquid incidunt, tenetur dolorum quam possimus distinctio. Adipisci laboriosam laudantium tempora nobis laborum possimus amet esse!
     .pie
      p todos los derechos
  