h2 Enlaces
a(href='http://www.google.com') Ir a Gloogle
&nbsp;| &nbsp; 
a(href='http://www.yahoo.com') Ir a Yahoo
&nbsp;| &nbsp
a(href='http://www.youtube.com') Ir a youtube
h2 Anclas
a(name="inicio") 
a(href='#info1') Ir a Informacion 1
&nbsp;| &nbsp
a(href='#info2') Ir a Informacion 2
br 
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
a(name="info1")
a(href='#inicio') Ir a Inicio
h1 Informacion 1

p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint iusto tempora, est esse alias commodi dignissimos, fugit laborum sunt, hic explicabo consequuntur maiores nobis iste. Hic, vel, autem? Ullam, ratione.

br 
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
a(name="info2")
a(href='#inicio') Ir a Inicio
h1 Informacion 2

p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus quos quo quod incidunt magnam ipsam necessitatibus praesentium iste distinctio ea nulla laudantium eum, adipisci perferendis et, voluptate fugiat excepturi temporibus?