doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    title Document
    style(rel="stylesheet")
  body
  table(border='1')
    tr
      th(scope='colgroup' colspan='8') hola
    tr
      th(scope="rowgroup" rowspan="3" id="h1") hola papu
      th(scope="col" colspan="2" class="h2") columnas 
      th(scope="col" colspan="2") columnas 
      th(scope="col" colspan="2") columnas 
      th(scope="rowgroup" rowspan="2") hola papu
      
      
    tr
      th(scope="rowgroup" colspan="5") columnas
      
    tr
      th(scope="col" colspan="2") columnas
      th(scope="col" colspan="2") columnas 
      th(scope="col" colspan="2") columnas 
      th columna
     
      
    