doctype
html(lang="en")
head
  meta(charset="UTF-8")
  title Document
body
  table(border='1')
    tr
      th(scope='colgroup' colspan='4') hola
    tr
      th(scope="rowgroup" rowspan="3") hola papu
      th(scope="col" colspan="2") columnas 
    tr
      th columnas
      th columnas
    tr
      th(scope="col" colspan="2") columnas
    tr
      th(scope="col" colspan="4") columnas
      