doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    title Document
  body
  
   | Plain text can include <strong>html</strong>
   p
    | It must always be on its own line
   hr
   
   p Plain text can include <strong>html</strong>
   
   hr
   
   script.
    var usingJade=true;
    if (usingJade)
      alert('you are awesome')
    else
      console.log('use jade')