doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    title Document
  body
  
    ul
      li Item A
      li Item B
      li Item C
    img(src="http://images.akamai.steamusercontent.com/ugc/552021066110044407/FC5AE915EEAB0238C92FCBBCC3F83428795111D9/", alt="")
    a: img
    
    foo/
    foo(bar='baz')/