html
	font-size 63.5%
body
	background-color #ab3361
	font 1.6rem Arial
fieldset
	border none
	background-color #fff
	padding 20px	
	margin 20px	
	width 800px	
fieldset legend
	background-color #EF4786
	color #fff
	padding 10px 40px
fieldset legend h2
	margin 0px
	padding 0px
	
/* --------------------------------------------
p~ul
---------------------------------------------*/
p~ul
	background-color red
	border 2px solid #16f4ec	
	

