@import url('https://fonts.googleapis.com/css?family=Anton|Orbitron');
*{
	margin:0px;
	padding: 0;	
	list-style: none;
	font:16px Tahoma;
	font-family: 'Orbitron', sans-serif;*/
	font-weight: bold;
}
body{
	background:#7BDCA6
}
ul#info{
	display: inline-block;
		
	background:#299743;
	color:white;
	width: 320px;	
}
ul#info li{
	border-bottom: 1px solid white;
	}
ul#info li span{
	display: inline-block;
		
	color:#1A0BA7;
	width: 100px;
	padding: 20px;	
	background: red;
	height: 30px;		
	vertical-align: top;
						
}
ul#info li:first-child{
	
	background-color: #3487D5;
}
ul#info li:first-child{
	
	background-color: #3487D5;
	padding: 20px;	
	text-align: center;
		
}
ul#info li:nth-child(7){
	background-color: #3487D5;
	padding: 20px;	
	text-align: center;
}
ul#info li#eimagen img{
	
	position:absolute;
	
	width: 130px;	
}
li.title{
	text-align: center;	
}	
ul#info li:nth-child(8){
	padding: 30px;	
	text-align: center;
	font-size:17px;
	width: 81%;	
	
	
}
ul#info li:nth-child(8) i{
	-webkit-transition: all 1s;
	
}
ul#info li:nth-child(8) i:hover{
	cursor:pointer;
	-webkit-transform:scale(1.45);
	color:black;
	
}

i{
	
	margin-left:5px;
}
div#vhcl{
	display: inline-block;
	margin:40px 0px 0px 60px;

}
div#vhcl img{
	width: 300px;	
}

.arrancar img{
	
	-webkit-animation: 0.1s animArrancar infinite;
}
.retroceso  {
	-webkit-animation: 3s animR infinite;
	
}
.izquierda {
	-webkit-animation: 3s animI infinite;
}
.avanzar{
	-webkit-animation: 7s animA infinite;
}
.derecha{
	-webkit-animation: 7s animD infinite;
}
.detener{
	-webkit-animation-play-state: paused;
}

@-webkit-keyframes animArrancar{
	0%,100%{
		-webkit-transform: translateY(0px) ;
	}
	50%{
		-webkit-transform: translateY(-4px) ;
	}
}
@-webkit-keyframes animR{
	0%,100%{
		-webkit-transform: translateX(0px) ;
		
	}
	50%{
		-webkit-transform: translateX(-200px) ;

	}
}
@-webkit-keyframes animI{
	0%,100%{
		-webkit-transform:  rotateY(0deg) rotateX(0deg) translateX(0px) ;
		
	}
	25%{
		-webkit-transform:  rotateY(45deg) rotateX(45deg) translateX(200px);

	}
	50%{
		-webkit-transform:  translateX(400px) translateY(-100px);
	}
}
@-webkit-keyframes animD{
	0%,100%{
		-webkit-transform:  rotateY(0deg) rotateX(0deg) translateX(0px) ;
		
	}
	25%{
		-webkit-transform:  rotateY(-45deg) rotateX(45deg) translateX(200px);

	}
	50%{
		-webkit-transform:  translateX(400px) translateY(100px);
	}
}

@-webkit-keyframes animA{
	0%,100%{
		-webkit-transform:  rotateY(0deg) rotateX(0deg) translateX(0px) ;
		
	}
	25%{
		-webkit-transform:  translateX(200px);

	}
	50%{
		-webkit-transform:  translateX(1200px) 
		;
	}
}


