/* selector universal*/
* {
  font: 1em Arial;
}
/*selector de tipo etiqueta*/
h1 {
  margin: 20px auto;
  width: 800px;
  background-color: #ddd;
  padding: 20px;
  border
}
section {
  margin: 20px auto;
  width: 800px;
  background-color: #ddd;
  padding: 20px;
}
/*selector desendente*/
section article h2 {
  font-size: 1.4em;
}
section article p {
  text-align: justify;
}
/* selector clase */
.claro {
  background-color: #fff;
}
.oscuro {
  background-color: #808080;
}
.rojo {
  color: #f00;
}
.minuscula {
  text-transform: lowercase;
}
.mayuscula {
  text-transform: uppercase;
}
/* selector ID */
#parr1 {
  padding: 10px;
}
#parr2 {
  padding: 10px;
}
/*selector combinado*/
section article h2.rojo {
  font-weight: bold;
}
section article p#parr1 {
  color: #808080;
}
