body {
  font: 18px Tahoma;
}
section {
  background: url("../imgs/bosquesito.jpg") no-repeat center center/cover;
  margin: 20px auto;
  padding: 10px;
  width: 600px;
}
h2 {
  color: hsla(0,0%,100%,0.4);
  font-size: 5em;
  margin: 0px;
  text-align: center;
}
h2 span {
  color: hsla(0,0%,0%,0.6);
}
p {
  background-color: rgba(0,0,0,0.6);
  color: rgba(255,255,255,0.8);
  padding: 20px;
  text-align: justify;
}
