div {
  background-color: #ffe159;
  border: 10px solid #ff8f46;
  font: 1.2em Arial;
  margin-bottom: 10px;
  text-align: center;
}
div.box1 {
  height: 250px;
  width: 250px;
}
div.box2 {
  height: 600px;
  width: 400px;
}
div.box3 {
  height: 250px;
  width: 500px;
}
div.box4 {
  height: 2cm;
  width: 50%;
}
div.box5 {
  height: 2cm;
  width: 80%;
}
