body {
  font: 16px Showcard Gothic;
}
section {
  border: 2px solid #910b89;
  height: 250px;
  margin: 20px auto;
  width: 590px;
}
section div {
  display: inline-block;
  border: 2px solid #4720a9;
  line-height: 120px;
  height: 100px;
  margin: 10px;
  text-align: center;
  width: 170px;
}
section div.nomargen {
  margin-right: 0px;
}
section div.mover {
  position: relative;
  top: 52px;
  left: -125px;
  background-color: rgba(220,220,220,0.8);
}
section div.grande {
  width: 565px;
}
