body {
  font: 16px Arial;
}
section {
  border: 2px solid #c0c0c0;
  display: inline-block;
  padding: 4px;
  width: 220px;
  vertical-align: top;
}
.box1{
	text-indent:0em;
}
.box2{
	text-indent:2em;
}
.box3{
	text-indent:4em;
}
