body {
  font: 16px Arial;
}
section {
  border: 2px solid #c0c0c0;
  display: inline-block;
  padding: 4px;
  width: 220px;
  vertical-align: top;
}
.box1{
	letter-spacing:0em;
}
.box2{
	letter-spacing:0.5em;
}
.box3{
	letter-spacing:1em;
}
