doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    title hola
body
  .marco1
    .encabezado
      h1 La novia mas maravillosa
      a(href="inicio.html") ir a inicio 
      a(href="paola.html") ir a paola
      a(href="santiago.html") ir a santiago
      a(href="paola y santiago.html") ir a pareja
    .contenido
      h1 Bienvenida mi amor
      img(src="https://scontent-mia1-1.xx.fbcdn.net/t31.0-8/p960x960/12901499_1067944019894431_9074923386414532572_o.jpg", width="500")
      p te amo mi amor <3
      p ................
      p 20/07/2015
    .pie
      p te amo <3