body {
  background-color: #D8E9EA;
  fond: 16px Tahoma;
  color: #333;
}
.marcoppa1 {
  background-color: #fff;
  margin: 20px auto;
  paddign: 10px;
  width: 600px;
}
.encabezado {
  background-color: #dff;
  padding: 20px;
  
}
.encabezado a {
  background-color: #716E6E;
  padding: 10px 36px;
  margin-left: 10px;
  text-decoration: none;
  -webkit-transition:all 0.5s ease-in;
          transition:all 0.5s ease-in;
}
.encabezado a:hover {
  background-color :#fff;
  color: #10606f;
}
.contenido {
    text-align: center;
  }
.contenido img {
  -webkit-transition: all 0.5s ease-in-out;
         transition: all 0.5s ease-in-out;
}
.contenido:hover img {
  -webkit-transform: scale(1.1) rotate(6deg);
          transform: scale(1.1) rotate(6deg);
}
.contenido p{
  color: #777;
  text align: justify;
  padding: 20px;
  line-height: 24px;
}
.contenido:hover {
  background-color :#897
 }
.pie {
text-align: center;
}