doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Nosotros - Rutas reletivas
    link(href="estilos.css" rel='stylesheet')
  body
    .marcoppa1
      .encabezado
        a(href='../index.html:;') inicio 
        a(href='javascript:;')   nosotros 
        a(href='servicios.html') servicios
        a(href='contacto.html') contacto
      .contenido
        h1 nosotros
        //- img(src="../imagenes/index.png", alt="")
   
        img(src="rutas relativas/imagenes/index.png", width="360")
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est rem at quos laboriosam repudiandae, aliquid incidunt, tenetur dolorum quam possimus distinctio. Adipisci laboriosam laudantium tempora nobis laborum possimus amet esse!
       .pie
        p todos los derechos