body
	background-color #d33 + #999
	font-size 20px
	font-family Fantasy
p
	position:relative
	top 25%
	color red
	text-align center
	
div
	margin 10px auto
	margin-left 600px
	height 100px
	width 100px
	background-color white
	border 2px solid black
div.rojo
	box-shadow: 107px 0px 0px #f00
div.verde
	box-shadow: 107px 0px 0px #0f0
div.resultado
	box-shadow: 107px 0px 0px #0f0 + #f00