// selector (comentario de una sola linea)
/* este comentario si aparece este no // */
section
	border 1px solid #ccc
	margin 20px auto
	height 200px
	width 300px
	transition all 0.5s ease-in
	&:hover /*evento hover , bloque con varias lineas de comentarios*/
		transform scale(1.2);
		
	