section.box
  width 100%
  margin 0px 300px auto
  font-size 4em
  color white
  
 
  
   
.box1
  display inline-block
  background-color maroon
  height 198px
  width  260px
  text-align center
  margin 0px auto
 .box1_1
  display inline-block
  background-color red
  margin-left -16px
  height 198px
  width  260px
  text-align center
  color black
.box1_2
  display inline-block
  background-color orange
  margin-left -16px
  height 198px
  width  260px
  text-align center
  color black
  
.box1_3
  display inline-block
  background-color yellow
  margin-left -16px
  height 198px
  width  260px
  text-align center
  color black
.box1_4
  display inline-block
  background-color olive
  margin-left -16px
  height 198px
  width  260px
  text-align center
 .box11
  display inline-block
  background-color purple
  height 198px
  width  260px
  text-align center
  margin 0px auto
 .box1_11
  display inline-block
  background-color fuchsia
  margin-left -16px
  height 198px
  width  260px
  text-align center
  color black
.box1_22
  display inline-block
  background-color white
  margin-left -16px
  height 198px
  width  260px
  text-align center
  color black
  
.box1_33
  display inline-block
  background-color lime
  margin-left -16px
  height 198px
  width  260px
  text-align center
  color black
.box1_44
  display inline-block
  background-color green
  margin-left -16px
  height 198px
  width  260px
  text-align center
 .box111
  display inline-block
  background-color navy
  height 198px
  width  260px
  text-align center
  margin-left 100px
  
 .box1_111
  display inline-block
  background-color blue
  margin-left -16px
  height 198px
  width  260px
  text-align center
  color black
  
.box1_222
  display inline-block
  background-color aqua
  margin-left -16px
  height 198px
  width  260px
  text-align center
  color black
 
  
.box1_333
  display inline-block
  background-color teal
  margin-left -16px
  height 198px
  width  260px
  text-align center
 .box1111
  display inline-block
  background-color black
  height 198px
  width  260px
  text-align center
  margin-left 250px
  
  
 .box1_1111
  display inline-block
  background-color blue
  margin-left -16px
  height 198px
  width  260px
  text-align center
  
.box1_2222
  display inline-block
  background-color gray
  margin-left -16px
  height 198px
  width  260px
  text-align center
p#clave
  font 50px Tahoma
  color blue
 
 
  