main{
	margin: 50px auto;
	padding: 20px;
	width: 960px;
}

main section{
	background: url(../imgs/tom.jpg)no-repeat center center;
	border: 2px solid #356c7f;
	width: 300px;
	display: inline-block;
	height: 250px;
	margin: 4px;
	width: 300px;
	transition: all 10s ;
	background-size: 180%;
}
main section:hover{
	background-size: 100%;
	transition: all 10s ;
}